@model SmokeTest.Configuration.Models.ViewConfigurationViewModel
@{
    ViewData["Title"] = "View Test Configurations";
}

<div class="hb">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
</div>

<div class="hb">
    <div class="row">
        <div class="col smokeGrid">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SmokeTest.Configuration.Models.TestConfigurationViewDetailsModel test in Model.Configurations)
                    {
                        <tr>
                            <td>@test.Name</td>
                            <td><a href="/Configuration/Edit/@test.UniqueId/">Edit</a></td>
                            <td><a href="/Configuration/Delete/@test.UniqueId/">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="hb">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm(nameof(SmokeTest.Configuration.Controllers.ConfigurationController.New), SmokeTest.Configuration.Controllers.ConfigurationController.Name, FormMethod.Get, new { id = "frmCreateTest" }))
            {
                <button type="submit" class="btn btn-primary">Create</button>
            }
        </div>
    </div>
</div>

