/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.bc {
    padding: 8px 0px 2px 0px;
    min-height: 36px !important;
    display: contents;
}

    .bc ul {
        list-style: none;
        padding-left: 6px;
    }

        .bc ul li {
            display: inline;
            font-size: 12px;
        }

            .bc ul li + li:before {
                padding: 8px;
                color: black;
                content: "/\00a0";
            }

            .bc ul li a {
                color: #0275d8;
                text-decoration: none;
            }

                .bc ul li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }


.validation-summary-errors {
    color: red;
}

    .validation-summary-errors ul {
        list-style-type: none;
        padding-left: 0px;
    }

.field-validation-error {
    color: red;
}


@media screen and (max-width: 768px) {
    img {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 1.35rem;
    }

    h2 {
        font-size: 1.32rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}

.card {
    font-size: 15px;
}

.search-buy {
    overflow: visible;
    float: right;
    width: 145px;
    height: 70px;
    font-size: 14px;
}

    .search-buy span {
        float: right;
        padding-right: 53px;
    }


.chip {
    display: inline-block;
    padding: 0 25px;
    height: 28px;
    line-height: 25px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.ac-row {
    padding: 15px 0 0 0;
}

.hb {
    margin: 15px 0 0 0;
}

.hb-input {
    margin: 15px 0 0 0;
}
    .hb-input input[type=text] {
        width: 350px;
        padding: 3px 3px 3px 3px;
        height: 28px;
    }
    .hb-input input[type=number] {
        width: 150px;
        padding: 3px 3px 3px 3px;
        height: 28px;
    }

.card {
    font-size: 15px;
    width: 30%;
    float: left;
    margin: 0px 10px 15px 0;
    height: 250px;
}

.run-schedule-card {
    width: 100%;
    display: block;
    overflow: auto;
    height: 172px;
    padding: 5px;
}
    .run-schedule-card p {
        margin: 2px 2px 2px 2px;
        padding: 1px 8px 1px 8px;
        border-radius: 8px;
    }

.status-success {
    background-color: #17f115;
    color: black;
}
.status-error {
    background-color: red;
    color: white;
}
.status-warning {
    background-color: orange;
    color: black;
}
.status-notrun {
    background-color: burlywood;
    color: black;
}

.status-success, .status-error, .status-warning, .status-notrun a:hover, a:link, a:visited, a:active {
    text-decoration: none;
}
.prev-status-success {
    background-color: #bcf3b1;
    color: black;
    border-top: solid 1px #17f115;
    border-bottom:none;
    float: left;
    width: 12px !important;
    margin-right: 1px;
}

.prev-status-error {
    background-color: #ffcccc;
    color: black;
    border-top: solid 1px red;
    border-bottom: none;
    float: left;
    width: 12px !important;
    margin-right: 1px;
}

.prev-status-warning {
    background-color: #ffe4b3;
    color: black;
    border-top: solid 1px orange;
    border-bottom: none;
    float: left;
    width: 12px !important;
    margin-right: 1px;
}

.prev-results {
    top: 200px;
    position: absolute;
    left: 20px;
    border-bottom: 1px solid white;
}

.runButton {
    top: 200px;
    position: absolute;
    right: 20px;
}

.testRunItem {
    background-color: white;
    color: black;
    font-size: 10px;
    border-radius: 8px;
    border-color: black;
    border: 1px solid;
    font-weight: bold;
    padding: 1px 6px 1px 6px;
}

.queueItem {
    background-color: white;
    color: black;
    font-size: 10px;
    border-radius: 8px;
    border-color: black;
    border: 1px solid;
    font-weight: bold;
    padding: 1px 6px 1px 6px;
}

.h-spacer {
    margin-top: 20px;
}

.logData {
    font-size: 12px;
}

@media (min-width: 1200px) {
    .card {
        width: 23%;
        float: left;
        margin: 0 10px 15px 0;
        height: 250px;
    }
}
@media (min-width: 576px) {
    .card {
        width: 100%;
        float: left;
        margin: 0 10px 15px 0;
        height: 250px;
    }
}

@media (min-width: 768px) {
    .card {
        width: 30%;
        float: left;
        margin: 0 10px 15px 0;
        height: 250px;
    }
}

.smokeGrid table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.smokeGrid td, .smokeGrid th {
    border: 1px solid #ddd;
    padding: 8px;
}

.smokeGrid table thead tr td {
    padding-right: 20px;
}

.smokeGrid tr:nth-child(even) {
    background-color: #f2f2f2;
}

.smokeGrid tr:hover {
    background-color: #ddd;
}

.smokeGrid th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #707B7C;
    color: white;
}
